@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --my-pt: 5rem;
  --navbar_footer_bg: #313131;
  --white-font: rgb(240, 240, 240);
  --white-font-hover: rgb(200, 200, 200);
  --black-font-shadow: black 0px 0px 2px;
  --blue-underline: #0c6efd;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e4e4e4;
  font-family: "Poppins", sans-serif;
  color: black;
}

h2 {
  font-size: 1.875rem;
  margin: 0 15% !important;
  display: block;
  text-transform: capitalize;
  padding-left: 110px !important;
  letter-spacing: 1px;
  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 100px;
  height: 2px;
  background: #333;
}

a {
  text-decoration: none;
}

.red-asterisk {
  color: rgb(255, 0, 0);
}

.my-text-muted {
  color: rgb(68, 68, 68);
}

/* Hover Underline Animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2.5px;
  left: 0;
  background-color: var(--blue-underline);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*-------------------------Bootstrap-------------------------*/
.container-fluid {
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}
/*-------------------------Navbar-------------------------*/
.navbar {
  background-color: var(--navbar_footer_bg);
  min-height: 54px;
}

.navbar-toggler {
  margin-right: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28240, 240, 240, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-brand {
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  text-shadow: var(--black-font-shadow);
  letter-spacing: 2px;
  padding: 0;
  margin: 0 0 0 2rem;
  color: var(--white-font);
}

.nav-link {
  padding: 0 !important;
  color: var(--white-font) !important;
}

.nav-link:hover {
  color: var(--white-font-hover) !important;
}

.nav-item {
  text-shadow: var(--black-font-shadow);
  letter-spacing: 1px;
  font-size: 1.12rem;
  font-weight: 500;
  margin: 0 2.5rem 0 0;
  color: var(--white-font);
}

.nav-item:last-child {
  margin: 0 2rem 0 0;
}

/*-------------------------Hero/Landing Page-------------------------*/
.header-container {
  /* background-color: tan; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  min-height: calc(100vh - 54px);
}

.typewritter-text {
  word-spacing: 5px;
  color: blue !important;
}

.header-buttons {
  margin-top: 30px;
}

.header-resume-button {
  background-color: #313131;
  padding: 10px 20px;
  border-radius: 10px;
}

.header-resume-button a {
  text-shadow: var(--black-font-shadow);
  font-weight: 500;
  color: whitesmoke;
}

.header-linkedin-button {
  margin: auto 0;
  background-color: #313131;
  border-radius: 10px;
  margin-left: 20px;
}

.header-linkedin-button a {
  color: whitesmoke;
  font-size: 2rem;
  padding: 6px 10px;
}

.header-github-button {
  background-color: #313131;
  margin: auto 0;
  border-radius: 10px;
  margin-left: 20px;
}

.header-github-button a {
  color: whitesmoke;
  font-size: 2rem;
  padding: 6px 10px;
}

/*----------------------------About Section---------------------------*/
.about-section {
  padding-top: var(--my-pt);
}

.about-section p {
  padding: 30px 15% 0 15%;
  font-size: 17px;
}

/*----------------------------Skills Section---------------------------*/
.skills-section {
  padding-top: var(--my-pt);
}

.skills-p {
  font-size: 1.125rem;
  letter-spacing: 1px;
  padding: 20px 10px 10px 25px;
}

.skills-container-div {
  background-color: white;
  border-radius: 15px;
  margin: 45px 15% 0 15%;
  padding: 30px;
}

.skills-container-ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-template-rows: auto;
  gap: 50px;
  list-style: none;
  justify-items: center;
  padding: 10px 10px;
}

.skills-container-ul li {
  border-radius: 15px;
  background-color: #e4e4e4;
  width: 120px;
  text-align: center;
  padding-top: 10px;
}

.skills-container-ul li:hover {
  box-shadow: -10px 10px 15px -10px rgb(31, 33, 36);
}

.skills-container-item img {
  width: 35px;
  height: 35px;
}

.skills-container-item p {
  padding: 10px 0 10px 0;
  color: rgb(0, 0, 0);
}

/*----------------------------Projects Section---------------------------*/
.projects-section {
  padding-top: var(--my-pt);
}

.project-cards-container {
  margin: 30px 15% 0 15%;
}

.project-cards-container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.project-cards {
  border-radius: 15px;
}

.card {
  background-color: whitesmoke;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
}

.project-live-text {
  text-align: center;
  width: 50%;
  color: black !important;
  background-color: #e4e4e4;
  font-size: 20px;
  padding: 10px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 0 15px;
}

.project-github-logo {
  text-align: center;
  width: 50%;
  color: black !important;
  background-color: #e4e4e4;
  font-size: 30px;
  padding: 10px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 15px 0;
}

.project-title-container {
  margin-bottom: 1rem;
}

.project-title {
  margin-bottom: 0 !important;
}

.project-images {
  width: 100%;
}

.project-images-div {
  padding: 1rem 2rem;
  width: 50%;
}

.project-text-div {
  padding: 1rem 1rem 1rem 3rem;
  width: 50%;
}

/*---------------------------- Contact Me Section: Form ---------------------------*/
.contact-me-section {
  padding-top: var(--my-pt);
  margin: 0 15% 80px 15% !important;
}

.contact-me-section h2 {
  margin-left: 0 !important;
}

.contact-form {
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
}

form div input,
form div textarea {
  background-color: white !important;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

form textarea {
  resize: none;
}

.form-item-1-div {
  grid-column: 1 / span 2;
}

.form-item-2-div {
  grid-column: 3 / span 2;
}

.form-item-3-div {
  grid-column: 1 / span 4;
}

.form-item-4-div {
  grid-column: 1 / span 4;
}

.form-item-1,
.form-item-2,
.form-item-3,
.form-item-4 {
  margin-top: 5px;
  padding: 10px 20px;
}

.form-item-1-div label,
.form-item-2-div label,
.form-item-3-div label,
.form-item-4-div label {
  font-weight: 500;
  font-size: 1.125rem;
}

.form-submit-button {
  padding: 10px 60px;
  color: white;
  margin-top: 30px !important;
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid #000000;
  border-radius: 50px;
}

::-webkit-input-placeholder {
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 1 !important;
  letter-spacing: 1px;
  color: rgb(50, 50, 50);
}

/*-----------------------------------Footer--------------------------------*/
footer {
  background-color: var(--navbar_footer_bg);
  color: var(--white-font);
}

footer a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  padding-top: 20px;
}

footer a:last-of-type {
  margin-left: 3rem;
}

footer p {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  margin-bottom: 0;
}

.fa-linkedin,
.fa-github {
  color: var(--white-font);
}

.fa-linkedin:hover {
  color: #01b9f1;
  opacity: 0.6;
}

.fa-github:hover {
  color: #b8b8b8;
  opacity: 0.8;
}

/*---------------------------------------------------------------*/
@media screen and (max-width: 1300px) {
  .project-cards-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project-images-div {
    margin: 0;
    padding: 0.5rem;
    width: 100% !important;
  }

  .project-text-div {
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    width: 100% !important;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    padding: 1rem 0 0 0;
  }
  .nav-item {
    padding: 0 0 1rem 0;
  }
  .nav-link {
    margin: 0 0 0 2rem;
  }

  .form-item-1-div,
  .form-item-2-div {
    grid-column: 1 / span 4;
  }
}

@media screen and (max-width: 728px) {
  .skills-p {
    text-align: center;
    padding: 20px 0 10px;
  }
}

@media screen and (max-width: 499px) {
  .skills-container-ul li {
    width: 140px;
    padding: 10px 0 5px;
  }

  h2 {
    font-size: 1.375rem;
    padding-left: 70px !important;
  }

  h2::before {
    top: 12px;
    width: 60px;
  }

  .form-submit-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 325px) {
  h2 {
    font-size: 1.25rem;
    padding-left: 50px !important;
  }

  h2::before {
    top: 12px;
    width: 40px;
  }
}
