@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --my-pt: 5rem;
  --navbar_footer_bg: #3a3a3a;
  --white-font: rgb(240, 240, 240);
  --white-font-hover: rgb(215, 215, 215);
  --black-font-shadow: black 0px 0px 4px;
  --blue: #10538d;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e4e4e4;
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 0 !important;
  overflow: visible !important;
}

.section-title {
  font-size: 1.875rem;
  margin: 0 15% !important;
  display: block;
  text-transform: capitalize;
  padding-left: 110px !important;
  letter-spacing: 1px;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 100px;
  height: 2px;
  background: #333;
}

a {
  text-decoration: none;
}

.red-asterisk {
  display: inline;
  color: #c20000;
}

.my-text-muted {
  color: rgb(68, 68, 68);
}

/*------------------------ Bootstrap ------------------------*/
.container-fluid {
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}

/*------------------------- MUI -------------------------*/
.MuiAppBar-root {
  padding: 0 !important;
}

.MuiToolbar-root {
  min-height: 0 !important;
  height: 54px !important;
  padding: 0 !important;
}

.MuiButtonBase-root,
.MuiButton-root {
  min-width: 0 !important;
}

.MuiTouchRipple-root {
  display: none !important;
}
/*------------------------- Navbar -------------------------*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: var(--white-font-hover);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-nav {
  background-color: var(--navbar_footer_bg);
}

.nav-listItemButton a {
  padding: 15px 0;
  color: #000000;
  width: 100%;
  text-align: center;
}

.nav-IconButton {
  display: none !important;
  padding: 0 !important;
  margin: 0 0 0 32px !important;
  -webkit-filter: drop-shadow(1px 1px 2px black);
  filter: drop-shadow(1px 1px 2px black);
}

.nav-IconButton svg {
  color: var(--white-font);
  height: 30px;
  width: 30px;
}

.box-drawer {
  display: none !important;
}

.lg-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-name-white,
.navbar-name-black {
  letter-spacing: 2px !important;
  line-height: 1 !important;
  font-family: "Great Vibes", cursive !important;
  font-weight: bold !important;
}

.navbar-name-black {
  padding: 15px 0;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(32, 32, 32);
  font-size: 23px !important;
}

.navbar-name-white {
  text-shadow: var(--black-font-shadow);
  color: var(--white-font);
  margin: 0 0 0 32px !important;
  font-size: 20px !important;
}

.lg-nav-box {
  display: flex !important;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.lg-nav-box button {
  padding: 0 !important;
  margin: 0 35px 0 0;
}

.lg-nav-box button:last-of-type {
  margin: 0 20px 0 0 !important;
}

.lg-nav-box button a {
  font-family: "Poppins", sans-serif;
  color: var(--white-font);
  text-shadow: var(--black-font-shadow);
  font-size: 1.12rem;
  font-weight: 500;
  text-transform: capitalize;
}

.lg-nav-box button:hover {
  background-color: var(--navbar_footer_bg) !important;
}

.lg-nav-box button a:hover {
  color: var(--white-font-hover) !important;
}

/*------------------------- Header -------------------------*/
.header-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  min-height: calc(100vh - 54px);
  flex-direction: column;
}

.header-container-2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header-img {
  border-radius: 50%;
  width: 180px !important;
}

.home-subcontainer {
  padding-left: 0 !important;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 50px;
}

.home-title {
  font-size: 26px;
}

.home-subtitle {
  margin: 5px 0 20px;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: #4d4d4d;
}

.typewritter-text {
  margin: 0;
  min-height: 55px;
  font-size: 22px;
  color: var(--blue) !important;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-end !important;
}

.header-resume-button,
.header-linkedin-button,
.header-github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 40px;
}

.header-resume-button {
  padding: 0 15px;
  font-weight: 500;
  background-color: var(--blue);
  color: var(--white-font);
  text-shadow: var(--black-font-shadow);
}

.header-linkedin-button,
.header-github-button {
  padding: 0 8px;
  background-color: var(--white-font);
  color: var(--blue);
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5));
}

.header-linkedin-button {
  margin-left: 40px;
}

.header-github-button {
  margin-left: 14px;
}

.header-resume-button:hover {
  color: var(--white-font);
}

.header-linkedin-button:hover,
.header-github-button:hover {
  color: var(--blue);
}

.header-resume-button:hover,
.header-linkedin-button:hover,
.header-github-button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.header-github-button svg {
  height: 28px;
  width: 28px;
}

.header-linkedin-button svg {
  height: 25px;
  width: 25px;
}

.mouse_scroll {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 120px;
  bottom: 0;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.one_m,
.two_m,
.three_m {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.one_m {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
  animation-delay: alternate;
}

.two_m {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.three_m {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid rgb(0, 0, 0);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: rgb(0, 0, 0);
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.5s linear infinite;
  animation: mouse-wheel 1.2s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*---------------------------- About ---------------------------*/
.about-section {
  padding-top: var(--my-pt);
}

.about-section p {
  padding: 30px 15% 0 15%;
  font-size: 17px;
}

/*---------------------------- Skills ---------------------------*/
.skills-section {
  padding-top: var(--my-pt);
}

.skills-p,
.projects-p {
  font-size: 1.125rem;
  letter-spacing: 1px;
  padding: 20px 10px 10px 25px;
}

.skills-container-div {
  background-color: white;
  border-radius: 15px;
  margin: 45px 15% 0 15%;
  padding: 30px;
}

.skills-container-ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-template-rows: auto;
  gap: 30px;
  list-style: none;
  justify-items: center;
}

.skills-container-ul li {
  border-radius: 15px;
  background-color: #e4e4e4;
  width: 120px;
  text-align: center;
  padding-top: 10px;
}

.skills-container-ul li:hover {
  -webkit-box-shadow: 0px 0px 16px rgba(16, 83, 141, 0.5);
  box-shadow: 0px 0px 16px rgba(16, 83, 141, 0.5);
  background-color: var(--white-font);
}

.skills-container-item p {
  padding: 10px 0 10px 0;
  color: rgb(0, 0, 0);
}

/*---------------------------- Projects ---------------------------*/
.projects-section {
  padding-top: var(--my-pt);
}

.project-cards-container {
  margin: 30px 15% 0 15%;
}

.project-cards-container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.project-cards {
  border-radius: 15px;
}

.card {
  background-color: whitesmoke;
  box-shadow: -5px 5px 10px rgb(16, 83, 141, 0.5);
}

.project-live-text,
.project-github-logo {
  text-align: center;
  width: 50%;
  color: var(--white-font) !important;
  padding: 10px 0;
  background-color: var(--blue);
}

.project-live-text {
  text-shadow: var(--black-font-shadow);
  font-size: 20px;
  font-weight: 500;
  border-right: 1px solid rgb(255, 255, 255);
  border-radius: 0 0 0 15px;
}

.project-github-logo {
  border-left: 1px solid rgb(255, 255, 255);
  border-radius: 0 0 15px 0;
}

.project-github-logo svg {
  height: 30px;
  width: 30px;
  -webkit-filter: drop-shadow(1px 1px 2px black);
  filter: drop-shadow(1px 1px 2px black);
}

.project-title-container {
  margin-bottom: 1rem;
}

.project-title {
  font-size: 20px;
  margin-bottom: 0 !important;
}

.project-images {
  width: 100%;
}

.project-images-div {
  padding: 1rem 2rem;
  width: 50%;
}

.project-text-div {
  padding: 1rem 1rem 1rem 3rem;
  width: 50%;
}

ul.project-lis {
  list-style-position: inside;
}

/*---------------------------- Contact Me ---------------------------*/
.contact-me-section {
  padding-top: var(--my-pt);
  margin: 0 15% 50px 15% !important;
}

.contact-me-section h2 {
  margin-left: 0 !important;
}

.contact-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

form div label {
  margin: 30px 0 2px 0;
  font-weight: 500;
  font-size: 1.125rem;
}

form div:first-of-type label {
  margin: 0 0 2px 0;
}

form textarea {
  resize: vertical;
  min-height: 152px;
  display: block;
}

form div input,
form div textarea {
  background-color: #fafafa !important;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  margin: 0 !important;
}

.form-submit-button {
  text-shadow: var(--black-font-shadow);
  padding: 10px 60px;
  background-color: var(--blue);
  color: var(--white-font);
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid #000000;
  border-radius: 50px;
  margin-top: 30px !important;
}

/*----------------------------------- Footer --------------------------------*/
footer {
  background-color: var(--navbar_footer_bg);
  color: var(--white-font);
}

footer p {
  text-shadow: var(--black-font-shadow);
  font-size: 1.125rem;
  padding: 18px 20px 14px 20px;
  margin-bottom: 0;
}

.footer-icons {
  padding: 10px 10px 0 10px;
}

.footer-icons a:last-child {
  margin-left: 50px;
}

.footer-icons svg {
  color: var(--white-font);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  filter: drop-shadow(1px 1px 2px black);
}

.footer-github-logo svg {
  width: 28px;
  height: 28px;
}

.footer-linkedin-logo svg {
  height: 25px;
  width: 25px;
}

.header-linkedin-button span,
.header-github-button span,
.project-github-logo span,
.footer-linkedin-logo span,
.footer-github-logo span,
.mouse_scroll_alt_text {
  height: 0 !important;
  width: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
  top: -10px !important;
}

.project-github-logo:hover,
.project-live-text:hover,
.form-submit-button:hover {
  opacity: 0.9;
}

.footer-icons svg:hover {
  color: var(--white-font);
  opacity: 0.7;
}

/*--------------------- Media Queries -----------------------*/
@media screen and (max-width: 1300px) {
  .project-cards-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project-images-div {
    margin: 0;
    padding: 0.5rem;
    width: 100% !important;
  }

  .project-text-div {
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    width: 100% !important;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    padding: 1rem 0 0 0;
  }
  .nav-item {
    padding: 0 0 1rem 0;
  }
  .nav-link {
    margin: 0 0 0 2rem;
  }

  .header-container-2 {
    margin: 20px 0;
    flex-direction: column;
  }

  .home-subcontainer {
    margin: 50px 0 0 0;
  }

  .header-img {
    margin: 0 auto;
  }

  .header-buttons {
    margin-top: 30px;
  }

  .mouse_scroll {
    display: none;
  }

  .navbar-name-white,
  .lg-nav-box {
    display: none !important;
  }

  .nav-IconButton,
  .box-drawer {
    display: block !important;
  }
}

@media screen and (max-width: 728px) {
  .skills-p,
  .projects-p {
    text-align: center;
    padding: 20px 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .skills-container-ul li {
    width: 140px;
    padding: 10px 0 5px;
  }

  .section-title {
    font-size: 1.375rem;
    padding-left: 70px !important;
  }

  .section-title::before {
    top: 12px;
    width: 60px;
  }

  .form-submit-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .section-title {
    font-size: 1.25rem;
    padding-left: 50px !important;
  }

  .section-title::before {
    top: 12px;
    width: 40px;
  }
}

@media screen and (max-width: 915px) and (max-height: 750px) {
  .mouse_scroll {
    display: none;
  }
}
