* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
/*-------------------------Navbar-------------------------*/
.navbar-toggler {
  margin-right: 10px;
}
.navbar-brand {
  padding: 0;
  margin: 0 0 0 20px;
}
.nav-link {
  padding: 0 !important;
}

/*-------------------------Hero/Landing Page-------------------------*/
header {
  height: 100vh;
  background-color: black;
}

/*----------------------------About Section---------------------------*/

/*----------------------------Projects Section---------------------------*/

/*----------------------------Contact Me Section---------------------------*/

/*-----------------------------------Footer--------------------------------*/
footer {
  background-color: rgb(121, 121, 121);
  color: #2f3337;
}
footer a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  padding-top: 20px;
}
footer a:last-of-type {
  margin-left: 3rem;
}
footer p {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  margin-bottom: 0;
}
.fa-linkedin,
.fa-github {
  color: #2f3337;
}
.fa-linkedin:hover {
  color: #0e76a8;
  opacity: 0.6;
}
.fa-github:hover {
  color: rgb(150, 150, 150);
  opacity: 0.8;
}